.linkWrapper {
  display: flex;
  align-items: center;
}

.linkContentsWrapper {
  color: var(--ifm-font-color-base);
  padding: 1rem;
}

.linkTitleWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.linkTitle {
  font-size: 1.125rem;
  line-height: 1.625rem;
  font-weight: 500;
  margin: 0;
}

.descriptionWrapper {
  margin: 0.125rem 0 0 0;
  color: var(--ifm-color-emphasis-600);
  > p {
    margin: 0;
  }
}

.linkNoDecoration {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}
